
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <h1 class="animation">404</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <a href="/">Go Back Home</a>
</body>
</html>
